{% extends 'app/base.html' %}

{% block content %}
<div class="container">
    <div class="content my-3">
        <div class="card rounded-0 shadow">
            <div class="card-body">
                <div class="row justify-content-center" style="margin-top:20px;">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3864.2188716213036!2d120.97764377439555!3d14.41454268605005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3397d383e4b73859%3A0x9cf21b9aff5fc996!2sTAGPUAN%20EXPRESS!5e0!3m2!1sen!2sph!4v1738314536646!5m2!1sen!2sph" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

                </div>
                <div class="row justify-content-center" style="margin-top:20px;">

                    <ul>
                        <p><h1>Located to Bacoor Cavite City</h1></p>
                        <li><h3> Reustaurant Address: Blk 33 Lot7 Phase 2 sampaguita st. Molino 6 Bacoor Cavite City, Philippines</h3></li>
                         <li><h3>  Contact no. 0916 768 5094</h3></li>
                         <li><h3>Email Address: marloubacudo97@gmail.com</h3></li>
                    </ul>

                </div>

            </div>
        </div>
    </div>
</div>
{% endblock content %}